.imgHeader {
    background-image: url("back.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: white;
}
.copyright {
    color: gray;
    margin-top: auto;
    #display: inline;
}
